#outer-div {
  display: flex;
  justify-content: center;
  border: 2px black solid;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 20px;
  height: 70vh;
}

#inner-div {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 95%;
  overflow: scroll;
}

#display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

#banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  width: 100%;
  
}

#logo {
  margin-left: 5px;
}

#menu {
  margin-right: 5px;
}

#number-display {
  font-size: x-large;
}

#stars-display {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.stars {
  border: 1px gold solid;
  padding: 10px;
  color: gold;
  border-radius: 10px;
  font-weight: bold;
}